<div class="index-page">
  <div class="index-header">
    <div class="index-header-menu">
      <div class="index-header-title">Demosite</div>
      <div class="index-header-category">
          <div class="header-menu left">ブランド
            <div class="submenu one">
              <ul class="menu">
                <li><a href="#">AURALEE</a></li>
                <li><a href="#">COMOLI</a></li>
                <li><a href="#">YAECA</a></li>
                <li><a href="#">MARKAWARE</a></li>
                <li><a href="#">CURLY&CO</a></li>
              </ul>
            </div>
          </div>
          <div class="header-menu right">カテゴリー
            <div class="submenu two">
              <ul class="menu">
                <li><a href="#">アウター</a></li>
                <li><a href="#">カットソー</a></li>
                <li><a href="#">スウェット</a></li>
                <li><a href="#">ニット</a></li>
                <li><a href="#">シャツ</a></li>
                <li><a href="#">パンツ</a></li>
                <li><a href="#">財布・小物</a></li>
                <li><a href="#">バッグ</a></li>
                <li><a href="#">シューズ</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="index-contents">
    <div class="index-left">
        <ul>
          <li class="list active">
            <a href="#">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">ホーム</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">プロフィール</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
              <span class="title">ご利用ガイド</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
              <span class="title">お問い合わせ</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="bag-outline"></ion-icon></span>
              <span class="title">ショップブログ</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
              <span class="title">メルマガ登録・解除</span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <span class="icon"><ion-icon name="person-remove-outline"></ion-icon></span>
              <span class="title">サインアウト</span>
            </a>
          </li>
        </ul>
    </div>
    <div class="index-right">
    </div>
  </div>
</div>
<script>
const list = document.querySelectorAll(".list");
console.log(list);
  
function activeLink() {
  list.forEach((item) => {
    item.classList.remove("active");
  });
  this.classList.add("active");
}

list.forEach((item) => {
  item.addEventListener("click", activeLink);
});
</script>