<div class="index-page">
  <div class="index-header">
    <div class="index-header-menu">
      <div class="index-header-title">Demosite</div>
      <div class="index-header-category">
        <div class="index-header-category-left">ブランド</div>
        <div class="index-header-category-right">カテゴリー</div>
      </div>
    </div>
  </div>
  <div class="index-contents">
    <div class="index-left">
    </div>
    <div class="index-right">
    </div>
  </div>
</div>